<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unicamp.agenda_da_beleza">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agenda_da_Beleza">
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".AgendarServico"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CriarServicos"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SaloesBuscados"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Sessoes"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Salao_info"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Busca"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Cliente_cadastro"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Cliente_login"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Salao_cadastro"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Salao_login"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:splitName=".Post">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>